@import "./global.scss";

.container-footer{
    margin-top: 50px;
    margin-left: 43px;
    margin-bottom: 5px;
    img{
        width: 100%;
        max-width: 1027px;
    }
}
// media para telas menor de 1365px
@media (max-width: 1365px){
    .container-footer{
        margin-top: 30px;
        img{
            width: 95%;
        }
    }
}