@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box; 
    font-family: 'Roboto', sans-serif; 
    

}

$color-orange-20:#FFB354;
$color-orange-30:#EE7A3A;
$color-organe-40:#FFB455;
$color-organe-50:#ED7839;
$color-btn-nav:#725C5C; 
$color-border:#E7E7E7;
$color-white:#ffffff;
$color-background-menu:#FDF1EB;
$font-text: 'Quicksand', sans-serif;

body{
    height: 100vh;
    display: grid;
    grid-template-columns: 220px 1fr;
    
}