@import "./global.scss";

.container-topic {
    width: 1058px;
    height: 621px;
    border: 1px solid $color-gray-20;
    border-radius: 3px;
    margin-left: 43px;
    margin-top: 30px;
}

.topic-title {
    width: 100%;
    height: 45px;
    border-bottom: 1px solid $color-gray-20;
    background: $color-background-menu;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    h3 {
        margin-left: 16px;
        color: #4e4e4e;
        font-weight: 500;
        font-size: 20px;

    }
}

.feed-title {
    width: 1027px;
    margin-top: 15px;
    height: 22px;
    text-align: center;

    h4 {
        font-size: 18px;
        font-weight: 700;
        color: $color-orange-50;
    }
}

.feed-img {
    width: 1027px;
    margin-top: 27px;
    margin-bottom: 35px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        margin-right: 50px;
    }

    img:nth-child(n+3) {
        margin-right: 0px;
    }

}

.feed-info {
    width: 1027px;
    height: 39px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        width: 626px;
        font-family: $font-text;
        font-weight: 400;
        font-size: 14px;
        color: #595959;
        text-align: center;
    }

}

.feed-line {
    width: 1027px;
    margin-left: 15.5px;
    height: 1px;
    background: #E7E7E7;
    margin-bottom: 30px;
    

}

.feed-buttonCreate {
    width: 1027px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -16px;
    

    button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 32px;
        width: 133px;
        border-radius: 4px;
        background: linear-gradient(180deg, #FEB254 0%, #F0813D 100%);
        box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);

        p {
            color: $color-white;
            font-size: 30px;
            margin-left: 5px;
        }

        p:nth-child(n+2) {
            font-family: $font-text;
            font-weight: 700;
            font-size: 15px;
            color: $color-white;
        }

    }

}

.feed-static {

    margin-bottom: 15px;
    margin-left: 15px;
    width: 1027px;
    height: 148px;
    border: 1px solid $color-border;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    
}

.static-title{
    margin-left: 24px;
    h4{
        font-family: $font-text;
        font-weight: 700;
        font-size: 16px;
        color: $color-orange-50;
        margin-bottom: 3px;
    }
    p{
        font-family: $font-text;
        font-weight: 500;
        font-size: 12px;
        color: #5c5c5c;
        
    }
}

.static-topic{
    width: 980px;
    height: 35px;
    text-align: start;
    margin-left: 24px;
    p{
        font-family: $font-text;
        font-weight: 400;
        font-size: 14px;
        color: #4d4d4d;
    }
     
}
.static-interaction{
    display: flex;
    margin-left: 24px;
    height: 19px;
}
.interaction-circle{
    display: flex;
    flex-direction: column;
    height: 19px;
    margin-bottom: 18px;

    span{
        height: 4px;
        width: 4px;
        background: $color-orange-50;
        border-radius: 50%;
        margin: 1px;

    }
}

.interaction-btn{
    margin-left: 10px;
    width: 27px;
    height: 19px;
    background:$color-orange-50;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 2px 2px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    cursor: pointer;

    p{
        font-size: 14px;
        margin-top: 4px;
        color: $color-white;
    }
    .givenLike{
        color: red;
    }
}

.interaction-users{
    display: flex;
    align-items: center;
    margin-left: 15px;
    height: 19px;
    span{
        margin-right: 5px;
        font-family: $font-externa;
        font-weight: 400;
        color: #757575;        
    }
    p{
        font-family: $font-externa;
        font-weight: 400;
        color: #757575;

    }
}

